{% extends 'users/base.html' %}

{% block title %}Mis cámaras | IRIS{% endblock %}

{% block content %}
<div class="home">
    <div class="left-div"></div>

    <div class="cameras">
        <h1>Mis cámaras</h1>
        <div class="card-cont">
            {% if camaras %}
                {% for camara in camaras %}
                <div class="camara-card">
                    <h3>{{ camara.nombre }}</h3>
                    <p><strong>IP:</strong> {{ camara.ip }}</p>
                    <p><strong>Creada:</strong> {{ camara.fecha_creacion|date:"d/m/Y H:i" }}</p>
                    <a href="{% url 'galeria_camara' camara.id %}">📷 Ver cámara</a>
                    <a href="{% url 'ver_alertas' camara.id %}">🖼️ Ver galería</a>
                    <a href="{% url 'eliminar_camara' camara.id %}" class="link-danger"
                        onclick="return confirm('¿Eliminar esta cámara?');">🗑️ Eliminar
                    </a>
                </div>
                {% endfor %}
            {% else %}
                <p>No tienes cámaras registradas.</p>
            {% endif %}
        </div>
    </div>
</div>

<a href="{% url 'nueva_camara' %}" class="cam-add">➕</a>
<a href="{% url 'test_modelo' %}" class="cam-add" id="back">👩‍🔬</a>
{% endblock %}